doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title Sales Force Tab
  body
    .header
      h1.page-title Sales Force Tab

    ul.nav
      li: a(href='/') Home
      li: a(href='#signin') Sign In
      li: a(href='#config') Config
    
    .main-content
      block content

    .footer
      